!!! 5
%html
  %head
    %meta{charset:'utf-8'}
    %title Aggregator
    %style
      = scss :style, style: :compressed
  %body
    .decoration
      .inner
        - 25.times do
          .stripe
    .container
      %h1 Aggregator
      %p
        %a{href:'http://news.ycombinator.com'} Hacker News
        and
        %a{href:'https://news.layervault.com'} Designer News.
      %section.feeds
        - @items.each_with_index do |item,index|
          %article{class: item.from, title: item.link_to_article}
            %header
              %b.number= index+1
              %a.article{href: (item.link_to_article)}= item.title
            %a.comments{href: item.link_to_comments }Comments
    %footer
      %small
        Build by
        %a{href:'http://jamesduncombe.com'} JD