* { margin: 0; padding: 0; }

body {
  padding: 42px; 
  font-family: "HelveticaNeue", helvetica, sans-serif; 
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  background: #eceef1;
}

a {
  color: #2d72d9;
  text-decoration: none;
  &:visited {
    color: #4E7BD0;
  }
}

h1 {
  margin-bottom: 21px;
  line-height: 1;
  font-size: 42px;
  letter-spacing: -0.06em;
}

h1 + p {
  margin-bottom: 21px;
}

article {
  position: relative;
  box-model: border-box;
  padding: 21px 21px 24px 21px;
  display: block;
  font-size: 16px;
  border-bottom: 1px solid #eceef1;
  &:last-child {
    border-bottom: none;
  }
  .comments {
    font-size: 14px;
    color: #9BB3D9;
  }
}

.container {
  background: #fff;
  padding: 42px 21px 21px;
}

header b {
  position: absolute;
  right: 21px;
  font-size: 50px;
  line-height: .9;
  color: #c3c9d2;
}

footer {
  text-align: center;
  color: #9FACC1;
  margin-top: 21px;
  small {
    font-size: 14px;
  }
}

// decoration at the top of the page

.decoration {
  overflow: hidden;
  height: 7px;
  .inner {
    width: 2000px;
  }
}

.stripe {
  width: 50px;
  height: 7px;
  float: left;
  &:nth-child(2n) {
    background: #D93BC9;
  }
  &:nth-child(odd) {
    background: #2D72D9;
  }
  &:nth-child(3n) {
    background: #D96D28;
  }
  &:nth-child(4n) {
    background: #46D935;
  }
}